// based again off https://transring.neocities.org/ring.js :)
// which is based off https://juneish.neocities.org/resources/webstring/

{
  const VALID_WIDGET_TYPES = ["transgender", "nonbinary"]

  let transfemring = {
      // sitelist (oldest to newest)
      // strip the protocol off
      sites: <%= raw(WebringNode.all.to_json) %>,
      root: "https://fem.nz"
  }
  console.log(transfemring)
  transfemring.index = location.href.startsWith("file://") ? 0 : transfemring.sites.findIndex((entry) => location.href.includes("://" + entry.site_link));
  let widget = document.currentScript.dataset.widget ?? "transgender";

  function urlWithWidget(path) {
    return `${transfemring.root}/ring/${widget}/${path}`
  }

  if (!VALID_WIDGET_TYPES.includes(widget)) {
    console.log("To web admin: transfem webring widget should have data-widget set to one of the following if configured (attribute will default to 'transgender'):", VALID_WIDGET_TYPES)
    console.log(`data-widget currently set to: ${widget}`)
    widget = "transgender"
  }

  if (transfemring.index === -1) {
    document.currentScript.outerHTML = `
    <div>
      <div class="transfem-ring" style="display: flex; justify-content: center; align-items: center; gap: 3.278%; max-width: 244px; image-rendering: pixelated">
        <a href="${transfemring.root}" target="_top"><img width="168" height="61" src="${urlWithWidget("banner.png")}"></a>
      </div>
      (not yet, but maybe soon!)
    </div>
    `;
  } else {
    function nextActive() {
      let currentIndex = transfemring.index + 1
      while (!location.href.includes(transfemring.sites[currentIndex % transfemring.sites.length].site_link)) {
        if (transfemring.sites[currentIndex % transfemring.sites.length].in_the_ring) {
          return transfemring.sites[currentIndex % transfemring.sites.length]
        }
        currentIndex++
      }
      return transfemring.sites[currentIndex % transfemring.sites.length]
    }
    function previousActive() {
      let currentIndex = transfemring.index - 1
      while (!location.href.includes(transfemring.sites.at(currentIndex).site_link)) {
        if (transfemring.sites.at(currentIndex).in_the_ring) {
          return transfemring.sites.at(currentIndex)
        }
        currentIndex--
      }
      return transfemring.sites[currentIndex % transfemring.sites.length]
    }
    let next = "https://" + nextActive().site_link
    let prev = "https://" + previousActive().site_link;
      document.currentScript.outerHTML = `
      <div class="transfem-ring" style="display: flex; justify-content: center; align-items: center; gap: 3.278%; max-width: 244px; image-rendering: pixelated">
        <a href="${prev}" target="_top" style="width: 12.295%">
          <img width="30" height="32" src="${urlWithWidget("arrow.png")}" alt="previous site">
        </a>
        <a href="${transfemring.root}" target="_top" style="width: 68.852%">
          <img width="168" height="61" src="${urlWithWidget("banner.png")}" alt="transfem webring">
        </a>
        <a href="${next}" target="_top" style="width: 12.295%">
          <img width="30" height="32" src="${urlWithWidget("arrow.png")}" alt="next site" style="transform: scaleX(-1);">
        </a>
      </div>
    `;
  }
}
