<header>
  <%= image_tag "ladybird_computer_01_144x.png", alt: "computer", width: 96, height: 96 %>
  <h1><span class="third">fem</span><span class="second">[</span><span class="center">dot</span><span class="second">]</span><span class="third">nz</span></h1>
  <%= image_tag "ladybird_computer_04_144x.png", alt: "laptop", width: 96, height: 96 %>
</header>
