<header>
  <h1>
    <%= image_tag "klara_sprinkle_left.png", alt: "Lines drawn in black away from the site masthead", size: "35x29", class: "sprinkle-left" %>
    klara[dot]nz
    <%= image_tag "klara_sprinkle_above.png", alt: "Cursor drawn in black above the masthead", size: "26x23", class: "sprinkle-above" %>
    <%= image_tag "klara_sprinkle_right.png", alt: "A face going :3 to the right of the masthead", size: "35x31", class: "sprinkle-right" %>
    
  </h1>
</header>
