<div id="header">
  <%= image_tag "drawing.svg", class: "logo-drawing" %>
  <h1>Eliza Green <br>
    Preservation Society</h1>
  <marquee behavior="alternate" direction="up">
    <%= image_tag "shimiye.gif", alt: "cat", width: 94, height: 88 %>
  </marquee>
</div>
