<header>
  <%= image_tag "drawing.svg", class: "logo-drawing" %>
  <h1>Eliza Green <br>
    Preservation Society</h1>
  <marquee behavior="alternate" direction="up">
    <%= image_tag "stickman.gif", alt: "stickman", width: 72, height: 72 %>
  </marquee>
</header>
