<article id="content">
  <div>
    <h2><%= article.title.split("/")[-1] %></h2>
    <% if !article.visibility %>
      <h5 class="hidden-article-blurb"> This article is currently hidden </h5>
    <% end %>
  </div>
  <p>
    <%= raw(process_body(article)) %>
  </p>
  <footer class="datetime-footer">Created: <%= article.created_at.strftime("%B #{article.created_at.day.ordinalize}, %Y") %>. Updated: <%= article.updated_at.strftime("%B #{article.updated_at.day.ordinalize}, %Y") %>.</footer>
</article>
