$main_highlight: darkslategray !default;
$main_active: #111111 !default;
$main_highlight_support: black !default;
$main_accent: #FFFDD0 !default;
$hover_a: rgb(38, 21, 21) !default;
$hidden_article: gray !default;
$content_a: cornflowerblue !default;
$global_font: "opendyslexic" !default;
$main_background: beige !default;
$warning: red !default;
$main_music_highlight: black !default;

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin button-reset {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

@mixin svg-icon {
  content: "";
  width: 24px;
  height: 24px;
}

@font-face {
  font-family: "opendyslexic";
  src: url("OpenDyslexic-Regular.otf");
  font-style: normal;
  font-weight: normal;
}
* {
  font-family: $global_font;
  margin: 0px;
  padding: 0px;
}
body {
  color: $main_highlight;
  background-color: $main_background;
}
img {
  image-rendering: pixelated;
}
header {
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  marquee {
    width: 94px;
    height: 108px;
  }
  .logo-drawing {
    width: 7em;
  }
}
#page {
  display: flex;
}
div.border {
  border-bottom: 3px double $main_highlight_support;
}
#content {
  margin: 6px;
  flex: 1 1 calc(100% - 400px);
  color: $main_active;
  position: relative;
  padding-bottom: 25px;
  h6 {
    color: $main_highlight;
  }
  h5 {
    color: $main_highlight;
  }
  h4 {
    color: $main_highlight;
  }
  h3 {
    color: $main_highlight;
  }
  h2 {
    color: $main_highlight;
  }
  h1 {
    color: $main_highlight;
  }
  .hidden-article-blurb {
    color: $warning;
  }
  a {
    color: $content_a;
  }

  .datetime-footer {
    position: absolute;
    bottom: 0;
    height: 25px;
    clear: both;
  }
  li {
    margin-left: 1em;
  }
  div.across {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  table {
    border-collapse: collapse;
    margin:auto;
  }
  
  th, td {
    padding: 0.75em;
    text-align: left;
    border: 1px solid $main_highlight_support;
  }
  
  th {
    background-color: $main_background;
    font-weight: 600;
  }
  
  tr:nth-child(even) {
    background-color: $main_accent;
  }
  
  tr:hover {
    opacity: 0.6;
  }
}
#content-form {
  margin: 6px;

  input[type="text"] {
    width: min(100%, 50em);
  }

  textarea.article-body {
    width: 100%;
    height: max(calc(100vh - 400px), 450px);
  }
}
#article-form {
  flex-grow: 1000;
  margin: 4px;
  #content {
    display: none;
    h3:first-child {
      color: $warning;
    }
  }
}

.sidebar-toggle {
  &::before{
    @include svg-icon;
    background-image: url('sidebar_toggle');
  }
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  margin: 0 5px;
  width: 100%;
  height: 36px;
}

#sidebar.hidden {
  padding:0px;
}

#sidebar {
  border-right: 3px double $main_highlight_support;
  padding: 1em;
  max-width: 250px;
  a {
    text-decoration: none;
    cursor: pointer;
  }

  summary {
    cursor: pointer;
  }
  #current-article-link {
    text-decoration: underline;
  }
  .hidden-article {
    color: $hidden_article;
  }
  .hidden-section {
    color: $hidden_article;
  }
  ul {
    margin-left: 12px;
  }
  li {
    margin-left: 12px;
  }
}
a {
  font-weight: 800;
  &:link {
    color: $main_highlight_support;
  }
  &:visited {
    color: $main_highlight_support;
  }
  &:hover {
    color: $hover_a;
  }
  &:active {
    color: $main_active;
  }
}

input {
  resize: vertical;
  border-radius: 4px;
  border: 1px solid $main_highlight_support;
  padding: 4px;
  margin: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  border-radius: 4px;
  border: 1px solid $main_highlight_support;
  padding: 4px;
  margin: 4px;
  box-sizing: border-box;
}

label[required]:after,
label[required]::after {
  content: " *";
  color: $warning;
}

input[type="submit"] {
  background-color: $main_background;
  color: $main_highlight_support;
  font-weight: 600;
  cursor: pointer;
}

.guestbook-index {
  width: 100%;
  .new-entry {
    margin: 8px;
    a {
      text-decoration: none;
    }
  }
  nav {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-left: 12px;
    color: $main_highlight_support;

    .entry-blurb {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 8px;
      padding: 8px;
      margin-bottom: 25px;
      min-width: calc(max(25%, 300px));
      div {
        .destroy-link {
          margin-top: 20px;
        }
        .author {
          span {
            text-decoration: underline;
          }
        }
        .body {
          min-height: 40px;
          flex-grow: 1;
        }
        .home-site {
        }
        .contact {
        }
        .datetime-footer {
          font-style: italic;
        }
      }
    }
  }
}

.upload-index {
  .new-upload {
    margin: 8px;
    a {
      text-decoration: none;
    }
  }
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-left: 12px;
    .upload-blurb {
      min-width: 150px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 8px;
      padding: 8px;
      margin-bottom: 25px;
      border: 3px double $main_highlight_support;
      text-align: center;
      .destroy-link {
        margin-top: 20px;
      }
      .title {
        text-decoration: none;
        margin-bottom: 20px;
      }
      .description {
        font-style: italic;
        min-height: 40px;
        max-width: 20vw;
        flex-grow: 1;
      }
      .image-content img {
        width: 200px;
        border: 3px double $main_highlight_support;
      }
    }
    ::after {
      flex-grow: 100;
    }
  }
}

.warning {
  color: $warning;
}

// Main Styles
.music-player {
  background: $main_background;
  padding: 0px 20px;
  color: $main_highlight;
  font-family: $global_font;
  border-bottom: 1px solid $main_highlight;

  &__container {
    @include flex-center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__controls {
    @include flex-center;

    &-button {
      &.previous::before {
        @include svg-icon;
        background-image: url('music_previous');
      }
      &.playPause {
        &.pause::before {
          @include svg-icon;
          background-image: url('music_pause');
        }
        &.play::before {
          @include svg-icon;
          background-image: url('music_play');
        }
      }
      &.next::before {
        @include svg-icon;
        background-image: url('music_next');
      }
      @include button-reset;
      @include flex-center;
      margin: 0 5px;
    }
  }

  &__track-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;
    font-weight: bold;
  }

  &__progress {
    flex-grow: 1;
    margin: 0 10px;
    @include flex-center;

    &-bar {
      flex-grow: 1;
      margin: 0 10px;
      -webkit-appearance: none;
      background: rgba($main_music_highlight, 0.6);
      border: 1px solid rgba($main_music_highlight, 1);
      outline: none;
      opacity: 0.7;
      transition: opacity 0.2s;
      border-radius: 5px;
      height: 5px;
      min-width: 40px;

      &::-webkit-slider-thumb, &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: $main_highlight;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid $main_highlight_support;
      }
    }

    &-time {
      font-size: 12px;
      min-width: 40px;
      text-align: center;
    }
  }

  &__volume {
    @include flex-center;

    &-slider {
      width: 80px;
      margin-left: 5px;
      background: rgba($main_music_highlight, 0.6);
      border: 1px solid rgba($main_music_highlight, 1);
      outline: none;
      opacity: 0.7;
      transition: opacity 0.2s;
      border-radius: 5px;
      height: 5px;
      min-width: 40px;

      &::-webkit-slider-thumb, &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: $main_highlight;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid $main_highlight_support;
      }
    }

    &-button {
      @include button-reset;
      @include flex-center;

      &.muteUnmute {
        &.mute::before {
          @include svg-icon;
          background-image: url('music_mute');
        }
        &.unMute::before {
          @include svg-icon;
          background-image: url('music_unmute');
        }
      }
    }
  }

  .toggle::before {
    @include svg-icon;
    background-image: url('music_burger');
  }

  .closer::before {
    @include svg-icon;
    background-image: url('music_close');
  }

  #music-list {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: $main_background;
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 1000;
    width: 300px;
    transform: translateX(100%);
    border-left: 1px solid $main_highlight;

    &.open {
      transform: translateX(0);
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    tr {
      border-bottom: 1px solid rgba($main_highlight, 0.2);

      &:last-child {
        border-bottom: none;
      }

      & td.current {
        background-color: rgba($main_highlight, 0.1);
      }
      td {
        padding: 5px;
        cursor: pointer;
      }
    }

    td {
      color: $main_highlight;
    }
     
  }
}


// Media Query
@media (max-width: 768px) {
  .music-player {
    padding: 10px;

    &__container {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }

    &__progress {
      width: 100%;
      margin: 5px 0;
      text-align: center;
    }

    &__controls {
      justify-content: center;
    }

    &__progress {
      order: 2;
    }

    &__volume {
      order: 1;
      justify-content: center;
    }
  }
}

// Media Queries
@media (max-width: 300px) {
  .music-player {
    #music-list {
      width: 100%;
    }
  }
}
