$main_highlight: #f5abb9;
$main_active: #5acffa;
$main_secondary: white;
$main_highlight_support: #5acffa;
$main_active_interactable: lightblue;
$hidden_article: gray;
$hidden_article_message: red;
$content_a: cornflowerblue;
$global_font: "Times New Roman";
$main_background: black;

@font-face {
  font-family: "opendyslexic";
  src: url("OpenDyslexic-Regular.otf");
  font-style: normal;
  font-weight: normal;
}
* {
  font-family: $global_font;
  margin: 0px;
  padding: 0px;
}
body {
  color: $main_highlight;
  background-color: $main_background;
  display: flex;
  justify-content: center;
}
img {
  image-rendering: pixelated;
}
header {
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 7.5px double $main_highlight;

  h1 {
    color: $main_secondary;
    text-decoration: underline;
  }
  img {
  }
}
#page {
  display: flex;
  & > form {
    color: $main_active;
    h2 {
      color: $main_secondary;
    }
    label {
      color: $main_highlight;
    }
    input {
      text-align: left;
    }
    textarea {
      width: 100%;
    }
    input[type="checkbox"] {
      width: 1em;
    }
    width: 100%;
    margin: 20px;
  }
}
.border {
  display: block;
  width: 100%;
  margin: 0px;
  border-bottom: 10px double $main_secondary;
}
#content {
  margin: 6px;
  flex: 0 0 1;
  color: $main_active;
  position: relative;
  padding-bottom: 25px;
  width: 100%;
  h2:first-of-type {
    color: $main_secondary;
  }
  h6 {
    color: $main_highlight;
  }
  h5 {
    color: $main_highlight;
  }
  h4 {
    color: $main_highlight;
  }
  h3 {
    color: $main_highlight;
  }
  h2 {
    color: $main_highlight;
  }
  h1 {
    color: $main_highlight;
  }
  .hidden-article-blurb {
    color: $hidden_article_message;
  }
  a {
    color: $content_a;
  }

  .datetime-footer {
    position: absolute;
    bottom: 0;
    height: 25px;
    clear: both;
  }
  li {
    margin-left: 1em;
  }
  div.across {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  table {
    border: 2px double $main_secondary;
    width: 100%;
    a {
      color: inherit;
    }
    td,
    th {
      border: 1px solid $main_active;
    }
    tr:nth-child(even) {
      background-color: rgba($main_highlight, 0.6);
      color: $main_secondary;
    }
  }
}
#content-form {
  margin: 6px;
  textarea.article-body {
    width: 100%;
    height: calc(100vh - 400px);
  }
}
#article-form {
  flex-grow: 1000;
  margin: 4px;
  #content {
    width: auto;
    display: none;
    h3:first-child {
      color: orangered;
    }
  }
}
#sidebar {
  border-right: 10px double $main_active;
  padding: 1em;
  li:has(details),
  li:has(.controls) {
    margin-left: 0px;
    list-style-type: none;
  }
  a,
  summary {
    text-decoration: none;
    cursor: pointer;
  }
  #current-article-link {
    text-decoration: underline;
  }
  .hidden-article,
  .hidden-section {
    color: $hidden_article;
  }
  li,
  ul ul {
    margin-left: 12px;
  }
  .border {
    margin-left: 0px;
  }
  .controls {
    width: 100%;
    display: block;
  }
  img {
    width: 72px;
    margin: 12px;
  }
}
a {
  font-weight: 800;
  &:link {
    color: $main_highlight_support;
  }
  &:visited {
    color: $main_highlight_support;
  }
  &:hover {
    color: $main_active_interactable;
  }
  &:active {
    color: $main_active;
  }
}

input {
  resize: vertical;
  border-radius: 4px;
  border: 1px solid $main_highlight;
  padding: 4px;
  margin: 4px;
  box-sizing: border-box;
  background-color: $main_background;
  color: $main_secondary;
}

textarea {
  resize: vertical;
  border-radius: 4px;
  border: 1px solid $main_highlight;
  padding: 4px;
  margin: 4px;
  box-sizing: border-box;
  background-color: $main_background;
  color: $main_secondary;
}

label[required]:after,
label[required]::after {
  content: " *";
  color: red;
}

input[type="submit"] {
  background-color: $main_background;
  color: $main_highlight_support;
  font-weight: 600;
  cursor: pointer;
}

.guestbook-index {
  width: 100%;
  .new-entry {
    margin: 8px;
    a {
      text-decoration: none;
    }
  }
  nav {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-left: 12px;
    color: $main_active;

    .entry-blurb {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 8px;
      padding: 8px;
      margin-bottom: 25px;
      min-width: calc(max(25%, 300px));
      border: 7.5px double $main_highlight;
      div {
        .destroy-link {
          margin-top: 20px;
        }
        .author {
          color: $main_secondary;
          span {
            text-decoration: underline;
          }
        }
        .body {
          min-height: 40px;
          flex-grow: 1;
        }
        .home-site {
        }
        .contact {
        }
        .datetime-footer {
          font-style: italic;
        }
      }
    }
  }
}

.upload-index {
  .new-upload {
    margin: 8px;
    a {
      text-decoration: none;
    }
  }
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-left: 12px;
    .upload-blurb {
      min-width: 150px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 8px;
      padding: 8px;
      margin-bottom: 25px;
      border: 3px double $main_highlight;
      text-align: center;
      .destroy-link {
        margin-top: 20px;
      }
      .title {
        text-decoration: none;
        margin-bottom: 20px;
      }
      .description {
        font-style: italic;
        min-height: 40px;
        max-width: 20vw;
        flex-grow: 1;
      }
      .image-content img {
        width: 200px;
        border: 3px double $main_secondary;
      }
    }
    ::after {
      flex-grow: 100;
    }
  }
}
.site-container {
  width: 100%;
}

.warning {
  color: orangered;
}
