.webring-index {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: center;
  }

  td {
    margin: auto;
    padding: 0px 10px;
  }

  tr {
    border-bottom: 1px solid white;
    &:last-of-type {
      border: none;
    }
  }
}
