.webring-index {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  overflow-x: auto;

  th {
    text-align: center;
  }

  td {
    margin: auto;
    padding: 0px 10px;
    word-wrap: break-word;
  }

  tr {
    border-bottom: 1px solid white;
    &:last-of-type {
      border: none;
    }
  }

  #content:has(&) {
    overflow-x: auto;
  }
}
