/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "opendyslexic";
  src: url("OpenDyslexic-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: "opendyslexic";
  margin: 0px;
  padding: 0px;
}

body {
  color: green;
}

#header {
  border-bottom: 3px double black;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#header marquee {
  width: 94px;
  height: 108px;
}

#page {
  display: flex;
}

div.border {
  border-bottom: 3px double black;
}

#content {
  margin: 6px;
  flex: 1 1 calc(100% - 400px);
  color: black;
  position: relative;
  padding-bottom: 25px;
}
#content h6,
#content h5,
#content h4,
#content h3,
#content h2,
#content h1 {
  color: green;
}
#content-form {
  margin: 6px;
  flex: 3 1 50%;
}
#post-preview {
  width: 50%;
  margin: 6px;
  flex: 3 1 auto;
}
#sidebar {
  border-right: 3px double black;
  padding: 1em;
  max-width: 250px;
  width: 25%;
}
#sidebar a {
  text-decoration: none;
}
#sidebar summary {
  cursor: pointer;
}
#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}
ul,
li {
  margin: 12px;
}
a {
  font-weight: 800;
}
a:link {
  color: darkgreen;
}
a:visited {
  color: darkgreen;
}
a:hover {
  color: rgb(38, 21, 21);
}
a:active {
  color: black;
}

#logo-drawing {
  width: 7em;
}

textarea.article-body {
  width: 100%;
  height: calc(100vh - 300px);
}

input,
textarea {
  resize: vertical;
  border-radius: 4px;
  border: 1px solid black;
  padding: 4px;
  margin: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: white;
  color: darkgreen;
  font-weight: 600;
  cursor: pointer;
}

.datetime-footer {
  position: absolute;
  bottom: 0;
  height: 25px;
  clear: both;
}

#sidebar #current-article-link {
  text-decoration: underline;
}

#sidebar .hidden-article,
#sidebar .hidden-section {
  color: gray;
}

#content .hidden-article-blurb {
  color: red;
}
