$main_highlight: black;
$main_active: black;
$main_secondary: black;
$main_accent: rgba($main_highlight, 0.2);
$main_highlight_support: $main_active;
$hidden_article: gray;
$warning: red;
$content_a: cornflowerblue;
$hover_a: rgba(cornflowerblue, 0.8);
$global_font: "Newsreader";
$main_background:
url(noise);
$secondary_background: #C5B39A;

$border-size: 20px;

@use "default" with (
  $main_highlight: $main_highlight,
  $main_active: $main_active,
  // $main_secondary: white,
  $main_accent: $main_accent,
  $main_highlight_support: $main_highlight_support,
  // $main_active_interactable: lightblue,
  $hidden_article: $hidden_article,
  $warning: $warning,
  $content_a: $content_a,
  $global_font: $global_font,
  $main_background: $main_background
);

body {
  min-height: 100vh;
  text-shadow: 1px 1px 1px gray;
  filter: grayscale(50%);
}

header {
  border-bottom: 7.5px double $main_highlight;
  color: $main_secondary;
  justify-content: center;
  text-decoration: underline;
  margin: 0px;

  h1 {
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 14px;
    margin-bottom: -5px;
  }

  .sprinkle-left {
    margin-top: -15px;
    margin-right: -10px;
  }
  .sprinkle-right {
    margin-top: 10px;
    margin-left:30px;
  }
  .sprinkle-above {
    margin-top: -15px;
    margin-left: -50px;
  }
}

#page {
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  &:not(:has(.main-details[open])) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.site-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#sidebar {
  border: solid;
  max-width: 250px;
  flex-shrink: 0;
  border-width: $border-size;
  background-clip: padding-box;
  border: none;
  margin: 8px;
  border-right: 1px solid black;
  transform: rotate(-0.5deg);

  image-rendering: pixelated;

  &:not(:has(.main-details[open])) {
    padding: 0px;
  }

  & > details:first-child {
    &:not([open]) {
      & img, & .sidebar-toggle {
        width: 36px;
      }
    }
    & > summary:first-child {
      // should be the summary element
      display: block;
    }

  }

  .sidebar-toggle {
    &, & img, &::before {
      width: initial;
      height: initial;
      background-color: initial;
      padding: 0;
      margin: 0 !important;
      display: block;
      width: 72px;
    }
  }

  &.hidden {
    border-left: none;
    border-top: none;
    border-bottom: none;
    width: initial;
    .sidebar-toggle, .sidebar-toggle img {
      width: 48px;
    }
  }

  .sidebar-toggle::before {
    width: 100%;
  }

  img {
    width: 72px;
    margin: 12px;
  }

  & li:has(details),
  & li:has(.controls) {
    margin-left: 0px;
    list-style-type: none;
  }

  li {
    margin-left: 12px;
    overflow-wrap: break-word;
    word-break: normal;
  }

  ul {
    margin-left: 0px;
  }

  ul ul {
    margin-left: 12px;
  }

  li.border {
    margin: 0px;
  }
}

.border {
  display: block;
  width: 100%;
  border-bottom: 10px double $main_secondary;
}

#content-form {
  margin: 0px auto;
  max-width: 600px;
  width: 100%;
}

#content {
  margin: 0px auto;
  padding: 8px;
  width: 100%;
  flex: 1;
  min-width: 0;
  text-align: justify;
  text-justify: inter-word;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  background-clip: padding-box;

  image-rendering: pixelated;
  column-count: 2;
  transform: rotate(0.3deg);

  .datetime-footer {
    vertical-align: bottom;
    display: inline;
    position: initial;
    height: initial;
    font-size: 12px;
  }

  .red-bird {
    transform: rotate(15deg);
    float: right;
  }
  .yellow-bird {
    position: absolute;
    right: -40px;
  }

  img {
    filter: drop-shadow(0px 0px 1px black);
  }
}

#content div:first-of-type h2:first-of-type {
  color: $main_secondary;
}

.entry-blurb {
  background-color: $secondary_background;
  background-clip: padding-box;
  border-style: solid;
  border-width: $border-size;

  border: none;
}

.music-player {
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 10;
  padding-left: 4px;
  padding-right: 4px;
  // background: rgba($main_highlight, 0.3);
  border-bottom: 1px solid $main_active;
  color: $main_secondary;
  #music-list {
      border-left: 1px solid $main_active;
  }
  input[type="range"] {
      border: 1px solid $main_secondary;
      opacity: 1;
      &::-moz-range-thumb, &::-webkit-slider-thumb {
          border-width: 2px;
      }
  }
  &__volume {
    order: initial;
  }
}

/* 6pt Optical Size */
@font-face {
  font-family: "Newsreader";
  src: url("Newsreader6pt-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 6pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader6pt-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 6pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader6pt-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-optical-sizing: auto;
  size-adjust: 6pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader6pt-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
  size-adjust: 6pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader6pt-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  size-adjust: 6pt;
}

/* 16pt Optical Size */
@font-face {
  font-family: "Newsreader";
  src: url("Newsreader16pt-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 16pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader16pt-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 16pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader16pt-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-optical-sizing: auto;
  size-adjust: 16pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader16pt-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
  size-adjust: 16pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader16pt-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  size-adjust: 16pt;
}

/* 72pt Optical Size */
@font-face {
  font-family: "Newsreader";
  src: url("Newsreader72pt-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 72pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader72pt-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 72pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader72pt-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-optical-sizing: auto;
  size-adjust: 72pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader72pt-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
  size-adjust: 72pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader72pt-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  size-adjust: 72pt;
}

@media screen and (max-width: 520px) {
  #content {
    column-count: 1;
  }
}
@media screen and (min-width: 1000px) {
  #content {
    column-count: 3;
  }
}