$main_highlight: #f5abb9;
$main_active: #5acffa;
$main_secondary: white;
$main_accent: rgba($main_highlight, 0.2);
$main_highlight_support: $main_active;
$hidden_article: gray;
$warning: red;
$content_a: cornflowerblue;
$global_font: "Times New Roman";
$main_background: black;

@use "default" with (
  $main_highlight: $main_highlight,
  $main_active: $main_active,
  // $main_secondary: white,
  $main_accent: $main_accent,
  $main_highlight_support: $main_highlight_support,
  // $main_active_interactable: lightblue,
  $hidden_article: $hidden_article,
  $warning: $warning,
  $content_a: $content_a,
  $global_font: $global_font,
  $main_background: $main_background
);

body {
  min-height: 100vh;
}
header {
  border-bottom: 7.5px double $main_highlight;
  color: $main_secondary;
  justify-content: center;
  text-decoration: underline;
}

#sidebar {
  border-right-width: 10px;
  max-width: 250px;
  width:25%;

  .sidebar-toggle {
    color: white;
    padding: 8px;
    width: min(max(24px, 100%), 120px);
    &::before{
      margin:4px;
      width: 100%;
    }
  }

  &.hidden {
    border: none;
    width: initial;
    .sidebar-toggle::before {
      width: 24px;
    }
  }

  .sidebar-toggle::before {
    width: 100%;
  }

  img {
    width: 72px;
    margin: 12px;
  }
  & li:has(details),
  & li:has(.controls) {
    margin-left: 0px;
    list-style-type: none;
  }
  li {
    margin-left: 12px;
  }
  ul {
    margin-left: 0px;
  }
  ul ul {
    margin-left: 12px;
  }
  li.border {
    margin: 0px;
  }
}

.border {
  display: block;
  width: 100%;
  border-bottom: 10px double $main_secondary;
}

#content div:first-of-type h2:first-of-type {
  color: $main_secondary;
}

.entry-blurb {
  border: 7.5px double #f5abb9;
}

.music-player {
  // background: rgba($main_highlight, 0.3);
  border-bottom: 1px solid $main_active;
  color: $main_secondary;
  #music-list {
      border-left: 1px solid $main_active;
  }
  input[type="range"] {
      border: 1px solid $main_secondary;
      opacity: 1;
      &::-moz-range-thumb, &::-webkit-slider-thumb {
          border-width: 2px;
      }
  }
  &__volume {
    order: initial;
  }
}