// $main_highlight: rgb(255, 53, 93);
$main_highlight: #f5abb9;
$main_active: #5acffa;
$main_secondary: white;
$main_accent: rgba($main_highlight, 0.2);
$main_highlight_support: $main_active;
$hidden_article: gray;
$warning: red;
$content_a: cornflowerblue;
$hover_a: rgba(cornflowerblue, 0.8);
$global_font: "Garamond", "Serif";
$main_background: url('stardown.gif');
$secondary_background: #080408;

$border-size: 20px;

@use "default" with (
$main_highlight: $main_highlight,
$main_active: $main_secondary,
// $main_secondary: white,
$main_accent: $main_accent,
$main_highlight_support: $main_highlight_support,
// $main_active_interactable: lightblue,
$hidden_article: $hidden_article,
$warning: $warning,
$content_a: $content_a,
$global_font: $global_font,
$main_background: $main_background
);

@use "tables";

* {
  image-rendering: pixelated;
}

body {
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  border-bottom: 2px dashed white;
  margin-bottom: 0.5em;
}

header {
  margin-top: 35px;
  border-bottom: 7.5px double $main_highlight;
  color: $main_secondary;
  justify-content: center;
  text-decoration: underline;
  .center {
    color: $main_secondary;
  }
  .second {
    color: $main_highlight;
  }
  .third {
    color: $main_active;
  }
}

#page {
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  &:not(:has(.main-details[open])) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.site-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 720px) {
  #page:has(#sidebar .main-details[open]) {
    #content, .note-index, .guestbook-index, .upload-index {
      display: none;
    }
    #sidebar {
      max-width: initial !important;
      text-align: center;
      box-sizing: border-box;
      width: 100%;
      & > details:first-child > summary:first-child {
        & img {
          margin: auto;
        }
      }
    }
  }
}

#sidebar {
  border: solid;
  max-width: 250px;
  // width: max(25%, 72px);
  flex-shrink: 0;
  background-color: $secondary_background;
  border-width: $border-size;
  background-clip: padding-box;

  -moz-border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  -webkit-border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  -o-border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  image-rendering: pixelated;

  &:not(:has(.main-details[open])) {
    padding: 0px;
  }

  & > details:first-child {
    &[open] .sidebar-indicator {
      display: none;
    }
    &:not([open]) {
      position: relative;
      & .sidebar-toggle {
        width: 36px;
      }
      & .sidebar-indicator {
        position: absolute;
        display: block;
        width: initial;
        height: initial;

        right: -140px;
        top: -40%;
        transform-origin: -18px 20px;
        animation: rotateIndicator 3s infinite;

        @keyframes rotateIndicator {
          from {
            transform: rotate(-8deg) scale(1.1);
          }
          25% {
            transform: rotate(0deg) scale(0.9)
          }
          50% {
            transform: rotate(11deg) scale(1.1);
          }
          75% {
            transform: rotate(0deg) scale(0.9)
          }
          to {
            transform: rotate(-8deg) scale(1.1);
          }
        }
      }
    }
    & > summary:first-child {
      display: flex;
      // should be the summary element
    }

  }

  .sidebar-toggle {
    &, & img, &::before {
      width: initial;
      height: initial;
      background-color: initial;
      padding: 0;
      margin: 0;
      display: block;
      width: 72px;
    }
  }

  &.hidden {
    border-left: none;
    border-top: none;
    border-bottom: none;
    width: initial;
    .sidebar-toggle, .sidebar-toggle img {
      width: 48px;
    }
  }

  .sidebar-toggle::before {
    width: 100%;
  }

  img {
    width: 72px;
    margin: 12px;
  }
  & li:has(details),
  & li:has(.controls) {
    margin-left: 0px;
    list-style-type: none;
  }
  li {
    margin-left: 12px;
    overflow-wrap: break-word;
    word-break: normal;
  }
  ul {
    margin-left: 0px;
  }
  ul ul {
    margin-left: 12px;
  }
  li.border {
    margin: 0px;
  }
}

.border {
  display: block;
  width: 100%;
  border-bottom: 10px double $main_secondary;
}

#content-form {
  margin: 0px auto;
  max-width: 600px;
  width: 100%;
}

#content {
  margin: 0px auto;
  padding: 8px;
  max-width: 600px;
  width: 100%;
  flex: 1;
  min-width: 0;
  text-align: justify;
  text-justify: inter-word;
  background-color: $secondary_background;
  box-sizing: border-box;
  background-clip: padding-box;
  border-style: solid;
  border-width: $border-size;

  -moz-border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  -webkit-border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  -o-border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  image-rendering: pixelated;

  .datetime-footer {
    height: initial;
  }
}

#content div:first-of-type h2:first-of-type {
  color: $main_secondary;
  margin-bottom: 1em;
  border-bottom: none;
}

.guestbook-index .container .entry-blurb, .note-index .container .entry-blurb {
  h2 {
    color: $main_secondary;
  }
  border-bottom: initial;
  background-color: $secondary_background;
  background-clip: padding-box;
  border-style: solid;
  border-width: $border-size;
  image-rendering: pixelated;


  -moz-border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  -webkit-border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  -o-border-image: url(page-border.png) 10 10 10 10 repeat repeat;
  border-image: url(page-border.png) 10 10 10 10 repeat repeat;
}

.music-player {
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 10;
  padding-left: 4px;
  padding-right: 4px;
  // background: rgba($main_highlight, 0.3);
  border-bottom: 1px solid $main_active;
  color: $main_secondary;
  #music-list {
    border-left: 1px solid $main_active;
  }
  input[type="range"] {
    border: 1px solid $main_secondary;
    opacity: 1;
    &::-moz-range-thumb, &::-webkit-slider-thumb {
      border-width: 2px;
    }
  }
  &__volume {
    order: initial;
  }
}

// @media only screen and (max-width: 768px) {
//   #page {
//     flex-direction: column;
//     #sidebar {
//       border-left: none;
//       border-top: none;
//       border-bottom: none;
//       width: initial;
//       .sidebar-toggle, .sidebar-toggle img {
//         width: 48px;
//       }
//       &.hidden {
//         border: solid;
//         max-width: 250px;
//         width: max(25%, 72px);
//         * {
//           display: block;
//         }
//       }
//       *:not(.sidebar-toggle, .sidebar-toggle img) {
//         display: none;
//       }
//     }
//   }
// }

/* 6pt Optical Size */
@font-face {
  font-family: "Newsreader";
  src: url("Newsreader6pt-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 6pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader6pt-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 6pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader6pt-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-optical-sizing: auto;
  size-adjust: 6pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader6pt-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
  size-adjust: 6pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader6pt-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  size-adjust: 6pt;
  font-display: fallback;
}

/* 16pt Optical Size */
@font-face {
  font-family: "Newsreader";
  src: url("Newsreader16pt-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  font-display: fallback;
  size-adjust: 16pt;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader16pt-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 16pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader16pt-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-optical-sizing: auto;
  size-adjust: 16pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader16pt-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
  size-adjust: 16pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader16pt-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  size-adjust: 16pt;
  font-display: fallback;
}

/* 72pt Optical Size */
@font-face {
  font-family: "Newsreader";
  src: url("Newsreader72pt-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 72pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader72pt-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-optical-sizing: auto;
  size-adjust: 72pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader72pt-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-optical-sizing: auto;
  size-adjust: 72pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader72pt-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
  size-adjust: 72pt;
  font-display: fallback;
}

@font-face {
  font-family: "Newsreader";
  src: url("Newsreader72pt-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  size-adjust: 72pt;
  font-display: fallback;
}
